@font-face {
    font-family: myFont;
    src: url(Norse-Bold.otf);
}

:root {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    display: flex;
    margin: 0;
}

header {
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(./image.jpg);
    background-size: 750px;
}

main {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: myFont;
    font-size: 60px;
    position: absolute;
    top: 160px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0;
    width: 100%;
    text-align: center;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 8px 0;
}

.div1,
.div2,
.div3 {
    height: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw 14vw 3vw 3vw;
    background-color: rgb(246, 246, 246);
}

.div1,
.div2 {
    box-shadow: 1px 3px 5px #ccc;
    z-index: 1;
}

.div1 {
    justify-content: end;
}

.div2 {
    background-color: #fff;
}

.div3 {
    justify-content: start;
}

h2,
h3,
h4 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
}

h4 {
    font-weight: 500;
    font-size: 13px;
}

.odin {
    width: 57px;
}

h1 + a {
    display: flex;
    align-items: end;
    color: #eee;
    font-family: sans-serif;
    font-size: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

button {
    background-color: #596D48;
    color: white;
    height: 35px;
    width: 175px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #ddd;
    margin-bottom: 0.65em;
}

label,
p {
    font-size: 9.5px;
    font-family: sans-serif;
    color: #444;
    letter-spacing: .05rem;
}

input {
    appearance: none;
    box-shadow: none;
    background-color: white;
    border: 1px solid #E5E7EB;
    width: 15vw;
    height: 20px;
}

input:invalid {
    border-color: red;
}

input:focus:valid {
    appearance: none;
    border-color: blue;
    box-shadow: 0 0 10px black;
    outline: 0;
}

input:focus:invalid {
    appearance: none;
    border-color: red;
    box-shadow: 0 0 10px black;
    outline: 0;
}

.input {
    display: flex;
    align-items: end;
}

.ind {
    display: flex;
    flex-direction: column;
    padding: 10px 3rem 10px 0;
}

span {
    font-size: 15px;
}

h4 a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}